body {
  background-color: #d3d3d3;
}

h1 {
background-color: #939799;
color: #36454f;
text-align: center;
margin: 0;
font-family: "Cambria", serif;
border: 3px solid #808080;
border-radius: 0px
}
#header {
  background-color: #d3d3d3;
  width:100%;
  margin: auto;
  min-height: 80px;
  border-radius:0px; overflow: hidden;
}

h3 {
  color:#36454f;
  text-align: left;
  margin: 0;
  font-family: "Cambria", serif;
  position: absolute;
  top: 100px;
  left: 50px;
}

div#nav {
    color: #0000ff;
    text-align: center;
    margin: auto;
    width: 100%;
    font-family: "Cambria", serif;
    text-align: center;
    margin-top: 10px;
  }

input#yearSlider {
  color: #36454f;
  text-align: left;
  margin: auto;
  position: absolute;
  top: 150px;
  left: 50px;
}

p#sliderLabel {
  color: #36454f;
  font-family: "Cambria", serif;
  font-weight: bold;
  text-align: left;
  margin: auto;
  position: absolute;
  top: 200px;
  left: 50px;
}

div#footer {
  color: #36454f;
  font-family: "Cambria", serif;
  font-weight: bold;
  text-align: center;
  margin: auto;
}
#main {
  height: 1200px;
}
#viewDiv {
  height: 100%;
  width: 100%;
  border: 2px solid black;
}
#queryForm {
  position: absolute;
  top: 100px;          /* Distance from the top of the map */
  right: 20px;        /* Distance from the right edge of the map */
  background-color: rgba(255, 255, 255, 0.8); /* Light background for readability */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;      /* Ensure it's on top of other map elements */
}

#queryFormElement {
  display: flex;
  flex-direction: column;
  gap: 10px;           /* Add space between form inputs */
}

#queryForm input {
  width: 150px;        /* Set width of input fields */
}

#queryForm button {
  padding: 8px;
  background-color: #808080; /* Add some color to the button */
  color: white;
  border: none;
  cursor: pointer;
}

#queryForm button:hover {
  background-color: #6e6e6e; /* Change button color on hover */
}
